
@font-face {
    font-family: specialElite;
    src: url("../fonts/SpecialElite-Regular.ttf");
}

@font-face {
    font-family: merriweather;
    font-weight: bold;
    src: url("../fonts/Merriweather-Bold.ttf");
}
body {
    background-color: #5c3551   ;
    padding: 20px 20px 10px  10px;
}


#mainbar{
    padding-top: 100px;
    padding-bottom: 20px;
    background: url(logo.png) no-repeat -10px -90px;
    background-size: 300px 300px;
    border-bottom: solid #cba429;
    margin-bottom: 30px ;
    border-width: 1px ;
    text-align: right;
    font-family: specialElite;
}

#description{
    text-align: center;
    color: white;
    font-size: 20px;
    padding:10px 10px 10px 10px ;
    margin-left: 100px;
    margin-right:100px;


}

a{
    border: solid 1px darkgoldenrod;
    border-radius: 5px;
    font-family: merriweather ;
    color: white;
    padding:10px 10px 10px 10px ;
}

#formulaire{
    text-align: center;
    font-family: merriweather;
    color: white;
    font-size: 40px;

}

label {
    margin-top: 50px;
    display:inline-block;
    margin-bottom: 10px;
    font-size: 20px;
    color:lightgray;
}
#titlebar{
    border-bottom: solid 1px #d2a235;
    margin-left:400px;
    margin-right: 400px;
    padding-bottom: 20px;
    padding-top: 20px;
}

input {
    display: inline;
    margin: 0px auto 40px auto;
    border-radius: 7px;
    padding: 8px;
    font-size: 20px;
    background: #402538;
    border: 1px solid #cba429;
    color: #834c73;
    width: 250px;
    font-family: merriweather;
}

button {
    display: block;
    margin: 50px auto 0px auto;
    border-radius: 3px;
    padding: 8px;
    font-size: 20px;
    font-family: merriweather;
    background: #cba429;
    border: none;
    color: white;
    width: 150px;
    cursor: pointer;
}


#block1{
    border-right: darkgoldenrod solid 1px ;
    display:inline-block;
    padding: 0px 50px 0px 50px ;
    margin-top: 30px;
    width: min-content;

}
#block2{
    display: inline-block;
    padding: 30px 50px 20px 50px ;
    margin-top: 30px;
    width: min-content;

}










